body {
    align-items: center;
    text-align: center;
}

#box {
    background-color: white;
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
}

#citation {
    font-style: italic;
}

#auteur {
    margin-top: 10px;
}

#timestamp {
    margin-top: 10px;
    font-size: 0.9em;
    color: grey;
}

button {
    background-color: orange;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    margin: 30px 10px;
}

button:hover {
    opacity: 0.8;
}